<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="RoadStatusJSPServer" version="5.0">
  <display-name>RoadStatusJSPServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
  <error-code>404</error-code>
  <location>/</location>
  </error-page>
  <request-character-encoding>UTF-8</request-character-encoding>
  <response-character-encoding>UTF-8</response-character-encoding>
  <resource-ref>
    <description>accounts database</description>
    <res-ref-name>jdbc/db0</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>roads.main.StartupListener</listener-class>
  </listener>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/styles/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/statics/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>MainHandler</display-name>
    <servlet-name>MainHandler</servlet-name>
    <servlet-class>handlers.statics.MainHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainHandler</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>AboutHandler</display-name>
    <servlet-name>AboutHandler</servlet-name>
    <servlet-class>handlers.statics.AboutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutHandler</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>handlers.statics.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>RobotsHandler</display-name>
    <servlet-name>RobotsHandler</servlet-name>
    <servlet-class>handlers.statics.RobotsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RobotsHandler</servlet-name>
    <url-pattern>/robots.txt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>SignupHandler</display-name>
    <servlet-name>SignupHandler</servlet-name>
    <servlet-class>handlers.statics.SignupHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupHandler</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>HiddenLoginHandler</display-name>
    <servlet-name>HiddenLoginHandler</servlet-name>
    <servlet-class>handlers.hidden.HiddenLoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenLoginHandler</servlet-name>
    <url-pattern>/login-handler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>HiddenSignupHandler</display-name>
    <servlet-name>HiddenSignupHandler</servlet-name>
    <servlet-class>handlers.hidden.HiddenSignupHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenSignupHandler</servlet-name>
    <url-pattern>/signup-handler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>HiddenEmailValidationHandler</display-name>
    <servlet-name>HiddenEmailValidationHandler</servlet-name>
    <servlet-class>handlers.hidden.HiddenEmailValidationHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenEmailValidationHandler</servlet-name>
    <url-pattern>/validate-account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>UserSearchHandler</display-name>
    <servlet-name>UserSearchHandler</servlet-name>
    <servlet-class>handlers.UserSearchHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchHandler</servlet-name>
    <url-pattern>/user-controls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>UserControlHandler</display-name>
    <servlet-name>UserControlHandler</servlet-name>
    <servlet-class>handlers.UserControlHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControlHandler</servlet-name>
    <url-pattern>/user-controls/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>HiddenUserPermissionEditor</display-name>
    <servlet-name>HiddenUserPermissionEditor</servlet-name>
    <servlet-class>handlers.hidden.HiddenUserPermissionEditor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenUserPermissionEditor</servlet-name>
    <url-pattern>/user-controls/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>StartAccountReclaimHandler</display-name>
    <servlet-name>StartAccountReclaimHandler</servlet-name>
    <servlet-class>handlers.statics.StartAccountReclaimHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartAccountReclaimHandler</servlet-name>
    <url-pattern>/reclaim-account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>HiddenAccountReclaimHandler</display-name>
    <servlet-name>HiddenAccountReclaimHandler</servlet-name>
    <servlet-class>handlers.hidden.HiddenAccountReclaimHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenAccountReclaimHandler</servlet-name>
    <url-pattern>/hidden-send-account-reclaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>AccountReclaimGUIHandler</display-name>
    <servlet-name>AccountReclaimGUIHandler</servlet-name>
    <servlet-class>handlers.AccountReclaimGUIHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountReclaimGUIHandler</servlet-name>
    <url-pattern>/account-reclaim-gui</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>HiddenAccountReclaimFinalizeHandler</display-name>
    <servlet-name>HiddenAccountReclaimFinalizeHandler</servlet-name>
    <servlet-class>handlers.hidden.HiddenAccountReclaimFinalizeHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenAccountReclaimFinalizeHandler</servlet-name>
    <url-pattern>/hidden-send-account-reclaim-password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>PropertiesHandler</display-name>
    <servlet-name>PropertiesHandler</servlet-name>
    <servlet-class>handlers.statics.PropertiesHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertiesHandler</servlet-name>
    <url-pattern>/properties-edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>HiddenPropertiesEditorHandler</display-name>
    <servlet-name>HiddenPropertiesEditorHandler</servlet-name>
    <servlet-class>handlers.hidden.HiddenPropertiesEditorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenPropertiesEditorHandler</servlet-name>
    <url-pattern>/hidden-properties-edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>UserAccountHandler</display-name>
    <servlet-name>UserAccountHandler</servlet-name>
    <servlet-class>handlers.statics.UserAccountHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountHandler</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>HiddenSetMessageTimesHandler</display-name>
    <servlet-name>HiddenSetMessageTimesHandler</servlet-name>
    <servlet-class>handlers.hidden.HiddenSetMessageTimesHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenSetMessageTimesHandler</servlet-name>
    <url-pattern>/user-set-message-times</url-pattern>
  </servlet-mapping>
</web-app>